# Check Sakila

In [2]:
import duckdb

with duckdb.connect("data/sakila.duckdb") as conn:
    description = conn.sql("DESC;").df()

description

,database,schema,name,column_names,column_types,temporary
0,sakila,staging,_dlt_loads,"[load_id, schema_name, status, inserted_at, sc...","[VARCHAR, VARCHAR, BIGINT, TIMESTAMP WITH TIME...",False
1,sakila,staging,_dlt_pipeline_state,"[version, engine_version, pipeline_name, state...","[BIGINT, BIGINT, VARCHAR, VARCHAR, TIMESTAMP W...",False
2,sakila,staging,_dlt_version,"[version, engine_version, inserted_at, schema_...","[BIGINT, BIGINT, TIMESTAMP WITH TIME ZONE, VAR...",False
3,sakila,staging,actor,"[actor_id, first_name, last_name, last_update,...","[DECIMAL(38,9), VARCHAR, VARCHAR, TIMESTAMP, V...",False
4,sakila,staging,address,"[address_id, address, address2, district, city...","[BIGINT, VARCHAR, VARCHAR, VARCHAR, BIGINT, VA...",False
5,sakila,staging,category,"[category_id, name, last_update, _dlt_load_id,...","[BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]",False
6,sakila,staging,city,"[city_id, city, country_id, last_update, _dlt_...","[BIGINT, VARCHAR, BIGINT, TIMESTAMP, VARCHAR, ...",False
7,sakila,staging,country,"[country_id, country, last_update, _dlt_load_i...","[BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]",False
8,sakila,staging,customer,"[customer_id, store_id, first_name, last_name,...","[BIGINT, BIGINT, VARCHAR, VARCHAR, VARCHAR, BI...",False
9,sakila,staging,film,"[film_id, title, description, release_year, la...","[BIGINT, VARCHAR, VARCHAR, VARCHAR, BIGINT, BI...",False
10,sakila,staging,film_actor,"[actor_id, film_id, last_update, _dlt_load_id,...","[BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]",False
11,sakila,staging,film_category,"[film_id, category_id, last_update, _dlt_load_...","[BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]",False
12,sakila,staging,inventory,"[inventory_id, film_id, store_id, last_update,...","[BIGINT, BIGINT, BIGINT, TIMESTAMP, VARCHAR, V...",False
13,sakila,staging,language,"[language_id, name, last_update, _dlt_load_id,...","[BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]",False
14,sakila,staging,payment,"[payment_id, customer_id, staff_id, rental_id,...","[BIGINT, BIGINT, BIGINT, BIGINT, DECIMAL(5,2),...",False
15,sakila,staging,rental,"[rental_id, rental_date, inventory_id, custome...","[BIGINT, TIMESTAMP, BIGINT, BIGINT, TIMESTAMP,...",False
16,sakila,staging,staff,"[staff_id, first_name, last_name, address_id, ...","[BIGINT, VARCHAR, VARCHAR, BIGINT, BLOB, VARCH...",False
17,sakila,staging,store,"[store_id, manager_staff_id, address_id, last_...","[BIGINT, BIGINT, BIGINT, TIMESTAMP, VARCHAR, V...",False

## storing data into dictionary dfs

In [6]:
dfs = {}

with duckdb.connect("data/sakila.duckdb") as conn:
    for name in description["name"]:
        if name[0] != '_':
            dfs[name] = conn.sql(f"FROM staging.{name};").df()

            duckdb.register(name, dfs[name])

dfs

{'actor':      actor_id first_name     last_name         last_update       _dlt_load_id  \
 0         1.0   PENELOPE       GUINESS 2021-03-06 15:51:59  1765183798.842295
 1         2.0       NICK      WAHLBERG 2021-03-06 15:51:59  1765183798.842295
 2         3.0         ED         CHASE 2021-03-06 15:51:59  1765183798.842295
 3         4.0   JENNIFER         DAVIS 2021-03-06 15:51:59  1765183798.842295
 4         5.0     JOHNNY  LOLLOBRIGIDA 2021-03-06 15:51:59  1765183798.842295
 ..        ...        ...           ...                 ...                ...
 195     196.0       BELA        WALKEN 2021-03-06 15:52:00  1765183798.842295
 196     197.0      REESE          WEST 2021-03-06 15:52:00  1765183798.842295
 197     198.0       MARY        KEITEL 2021-03-06 15:52:00  1765183798.842295
 198     199.0      JULIA       FAWCETT 2021-03-06 15:52:00  1765183798.842295
 199     200.0      THORA        TEMPLE 2021-03-06 15:52:00  1765183798.842295

             _dlt_id
 0    4JXWSC5/Bzsflw
 1    96xC8ZIVSv0vYA
 2    yQRJYq2HZd4U+w
 3    g5G8aTt6mIxT4A
 4    0+TG/Lch/ji9pg
 ..              ...
 195  sp7yoOStDeTyDw
 196  JD55nGKI5j3Epw
 197  KcsAIvsJPdzFyA
 198  5kOdjY8tvlj3qg
 199  87W2xyDbce9RNw

 [200 rows x 6 columns],
 'address':      address_id                   address address2 district  city_id  \
 0             1         47 MySakila Drive     None               300
 1             2        28 MySQL Boulevard     None               576
 2             3         23 Workhaven Lane     None               300
 3             4      1411 Lillydale Drive     None               576
 4             5            1913 Hanoi Way     None               463
 ..          ...                       ...      ...      ...      ...
 598         601       844 Bucuresti Place     None               242
 599         602  1101 Bucuresti Boulevard     None               401
 600         603    1103 Quilmes Boulevard     None               503
 601         604       1331 Usak Boulevard     None               296
 602         605      1325 Fukuyama Street     None               537

     postal_code phone         last_update       _dlt_load_id         _dlt_id
 0          None       2021-03-06 15:51:54  1765183798.842295  z+8Spj2arlGyMA
 1          None       2021-03-06 15:51:54  1765183798.842295  4CZ0lcXe2W+prQ
 2          None       2021-03-06 15:51:54  1765183798.842295  YcsjMKQ42J4K3w
 3          None       2021-03-06 15:51:54  1765183798.842295  tLwdTc2U82BH1A
 4         35200       2021-03-06 15:51:54  1765183798.842295  y/xdxdkQ63dRbw
 ..          ...   ...                 ...                ...             ...
 598       36603       2021-03-06 15:51:59  1765183798.842295  IrBXNkGbO77ipA
 599       97661       2021-03-06 15:51:59  1765183798.842295  bww9nb1ufqOCCw
 600       52137       2021-03-06 15:51:59  1765183798.842295  /cr40QlGrqkfNg
 601       61960       2021-03-06 15:51:59  1765183798.842295  +Bx7WWpODNUi1g
 602       27107       2021-03-06 15:51:59  1765183798.842295  HFfro3OaPwQPZA

 [603 rows x 10 columns],
 'category':     category_id         name         last_update       _dlt_load_id  \
 0             1       Action 2021-03-06 15:52:00  1765183798.842295
 1             2    Animation 2021-03-06 15:52:00  1765183798.842295
 2             3     Children 2021-03-06 15:52:00  1765183798.842295
 3             4     Classics 2021-03-06 15:52:00  1765183798.842295
 4             5       Comedy 2021-03-06 15:52:00  1765183798.842295
 5             6  Documentary 2021-03-06 15:52:00  1765183798.842295
 6             7        Drama 2021-03-06 15:52:00  1765183798.842295
 7             8       Family 2021-03-06 15:52:00  1765183798.842295
 8             9      Foreign 2021-03-06 15:52:00  1765183798.842295
 9            10        Games 2021-03-06 15:52:00  1765183798.842295
 10           11       Horror 2021-03-06 15:52:00  1765183798.842295
 11           12        Music 2021-03-06 15:52:00  1765183798.842295
 12           13          New 2021-03-06 15:52:00  1765183798.842295
 13           14       Sci-Fi 2021-03-06 15:52:00  1765183798.842295
 14           15       Sports 2021-03-06 15:52:00  1765183798.842295
 15           16       Travel 2021-03-06 15:52:00  1765183798.842295

            _dlt_id
 0   GMilldgxpXU+JQ
 1   ++O4wv2cOyQfog
 2   ntuW7gUY7K06UA
 3   7BOcRfwTSZOM0Q
 4   vLj0BFxTnRu2TA
 5   z74soQBNdqfulw
 6   WsYK2FZVFe5iQw
 7   AeTFckIq0eTzRQ
 8   Pt8rlTQxDOZd4g
 9   3cw5UGYuTF9xjw
 10  /3v8uQHrrZC8Cg
 11  gew7MinYCz0xPg
 12  y5T3aJEwUP9nLQ
 13  ktsXrfi1B26bmw
 14  8y4ctErfn/LSQQ
 15  VvfrgFL7U4pPUQ  ,
 'city':      city_id                city  country_id         last_update  \
 0          1  A Corua (La Corua)          87 2021-03-06 15:51:49
 1          2                Abha          82 2021-03-06 15:51:49
 2          3           Abu Dhabi         101 2021-03-06 15:51:49
 3          4                Acua          60 2021-03-06 15:51:49
 4          5               Adana          97 2021-03-06 15:51:49
 ..       ...                 ...         ...                 ...
 595      596               Zaria          69 2021-03-06 15:51:54
 596      597        Zeleznogorsk          80 2021-03-06 15:51:54
 597      598         Zhezqazghan          51 2021-03-06 15:51:54
 598      599            Zhoushan          23 2021-03-06 15:51:54
 599      600          Ziguinchor          83 2021-03-06 15:51:54

           _dlt_load_id         _dlt_id
 0    1765183798.842295  Wrl2qoQk77ZsVw
 1    1765183798.842295  CKunwdPz+q2L7w
 2    1765183798.842295  PG/Q/B9Xcv2abA
 3    1765183798.842295  CzN6bjMi1xSGNw
 4    1765183798.842295  vavj1F8637CKBQ
 ..                 ...             ...
 595  1765183798.842295  wgQr8jRUb8OlnQ
 596  1765183798.842295  qeacsENGXUt8CQ
 597  1765183798.842295  x9AyJuGs5ocXSA
 598  1765183798.842295  6M7N6utinqw/YA
 599  1765183798.842295  qoq+YQhuPG7PWA

 [600 rows x 6 columns],
 'country':      country_id               country         last_update       _dlt_load_id  \
 0             1           Afghanistan 2021-03-06 15:51:49  1765183798.842295
 1             2               Algeria 2021-03-06 15:51:49  1765183798.842295
 2             3        American Samoa 2021-03-06 15:51:49  1765183798.842295
 3             4                Angola 2021-03-06 15:51:49  1765183798.842295
 4             5              Anguilla 2021-03-06 15:51:49  1765183798.842295
 ..          ...                   ...                 ...                ...
 104         105               Vietnam 2021-03-06 15:51:49  1765183798.842295
 105         106  Virgin Islands, U.S. 2021-03-06 15:51:49  1765183798.842295
 106         107                 Yemen 2021-03-06 15:51:49  1765183798.842295
 107         108            Yugoslavia 2021-03-06 15:51:49  1765183798.842295
 108         109                Zambia 2021-03-06 15:51:49  1765183798.842295

             _dlt_id
 0    Pz8Bm47qsQPejw
 1    JVzBR+PNfr2Fqg
 2    XQ/gKehorxKXGA
 3    bYKxZyXsnby/Cg
 4    aHa4DRYRtnNV5w
 ..              ...
 104  MYBrT2AW+OP1wA
 105  /SHB3dLgNlSMIA
 106  nzBcujsasRpwCQ
 107  rvppyDtyRiSYAA
 108  9QvYmEl/ogMSVg

 [109 rows x 5 columns],
 'customer':      customer_id  store_id first_name  last_name  \
 0              1         1       MARY      SMITH
 1              2         1   PATRICIA    JOHNSON
 2              3         1      LINDA   WILLIAMS
 3              4         2    BARBARA      JONES
 4              5         1  ELIZABETH      BROWN
 ..           ...       ...        ...        ...
 594          595         1   TERRENCE  GUNDERSON
 595          596         1    ENRIQUE   FORSYTHE
 596          597         1    FREDDIE     DUGGAN
 597          598         1       WADE   DELVALLE
 598          599         2     AUSTIN    CINTRON

                                      email  address_id active  \
 0            MARY.SMITH@sakilacustomer.org           5      1
 1      PATRICIA.JOHNSON@sakilacustomer.org           6      1
 2        LINDA.WILLIAMS@sakilacustomer.org           7      1
 3         BARBARA.JONES@sakilacustomer.org           8      1
 4       ELIZABETH.BROWN@sakilacustomer.org           9      1
 ..                                     ...         ...    ...
 594  TERRENCE.GUNDERSON@sakilacustomer.org         601      1
 595    ENRIQUE.FORSYTHE@sakilacustomer.org         602      1
 596      FREDDIE.DUGGAN@sakilacustomer.org         603      1
 597       WADE.DELVALLE@sakilacustomer.org         604      1
 598      AUSTIN.CINTRON@sakilacustomer.org         605      1

             create_date         last_update       _dlt_load_id         _dlt_id
 0   2006-02-14 22:04:36 2021-03-06 15:53:36  1765183798.842295  wPnMr9xGYItJUg
 1   2006-02-14 22:04:36 2021-03-06 15:53:36  1765183798.842295  rOxw+WjxtM7Bpw
 2   2006-02-14 22:04:36 2021-03-06 15:53:36  1765183798.842295  Z/2tDukhAiSQpg
 3   2006-02-14 22:04:36 2021-03-06 15:53:36  1765183798.842295  30AqlGP6UJgsDA
 4   2006-02-14 22:04:36 2021-03-06 15:53:36  1765183798.842295  NsVG6RaXwM1g/A
 ..                  ...                 ...                ...             ...
 594 2006-02-14 22:04:37 2021-03-06 15:53:41  1765183798.842295  YKDArmTnWYBacA
 595 2006-02-14 22:04:37 2021-03-06 15:53:41  1765183798.842295  bG8nyRHhk3JcoQ
 596 2006-02-14 22:04:37 2021-03-06 15:53:41  1765183798.842295  VCd47ms6XFsBUg
 597 2006-02-14 22:04:37 2021-03-06 15:53:41  1765183798.842295  2QHIyEMoVb1Rxw
 598 2006-02-14 22:04:37 2021-03-06 15:53:41  1765183798.842295  hrDJGcFnvoF1/g

 [599 rows x 11 columns],
 'film':      film_id              title  \
 0          1   ACADEMY DINOSAUR
 1          2     ACE GOLDFINGER
 2          3   ADAPTATION HOLES
 3          4   AFFAIR PREJUDICE
 4          5        AFRICAN EGG
 ..       ...                ...
 995      996     YOUNG LANGUAGE
 996      997         YOUTH KICK
 997      998       ZHIVAGO CORE
 998      999  ZOOLANDER FICTION
 999     1000          ZORRO ARK

                                            description release_year  \
 0    A Epic Drama of a Feminist And a Mad Scientist...         2006
 1    A Astounding Epistle of a Database Administrat...         2006
 2    A Astounding Reflection of a Lumberjack And a ...         2006
 3    A Fanciful Documentary of a Frisbee And a Lumb...         2006
 4    A Fast-Paced Documentary of a Pastry Chef And ...         2006
 ..                                                 ...          ...
 995  A Unbelieveable Yarn of a Boat And a Database ...         2006
 996  A Touching Drama of a Teacher And a Cat who mu...         2006
 997  A Fateful Yarn of a Composer And a Man who mus...         2006
 998  A Fateful Reflection of a Waitress And a Boat ...         2006
 999  A Intrepid Panorama of a Mad Scientist And a B...         2006

      language_id  original_language_id  rental_duration  rental_rate  length  \
 0              1                  <NA>                6         0.99      86
 1              1                  <NA>                3         4.99      48
 2              1                  <NA>                7         2.99      50
 3              1                  <NA>                5         2.99     117
 4              1                  <NA>                6         2.99     130
 ..           ...                   ...              ...          ...     ...
 995            1                  <NA>                6         0.99     183
 996            1                  <NA>                4         0.99     179
 997            1                  <NA>                6         0.99     105
 998            1                  <NA>                5         2.99     101
 999            1                  <NA>                3         4.99      50

      replacement_cost rating                         special_features  \
 0               20.99     PG         Deleted Scenes,Behind the Scenes
 1               12.99      G                  Trailers,Deleted Scenes
 2               18.99  NC-17                  Trailers,Deleted Scenes
 3               26.99      G           Commentaries,Behind the Scenes
 4               22.99      G                           Deleted Scenes
 ..                ...    ...                                      ...
 995              9.99      G               Trailers,Behind the Scenes
 996             14.99  NC-17               Trailers,Behind the Scenes
 997             10.99  NC-17                           Deleted Scenes
 998             28.99      R                  Trailers,Deleted Scenes
 999             18.99  NC-17  Trailers,Commentaries,Behind the Scenes

             last_update       _dlt_load_id         _dlt_id
 0   2021-03-06 15:52:00  1765183798.842295  BPqaRqNdzhT6hA
 1   2021-03-06 15:52:00  1765183798.842295  WcduwglliF/shg
 2   2021-03-06 15:52:00  1765183798.842295  RfUaNlKwrfQNrw
 3   2021-03-06 15:52:00  1765183798.842295  frtI9RxZPIE76g
 4   2021-03-06 15:52:00  1765183798.842295  TS8CAs+Pcs8ZCw
 ..                  ...                ...             ...
 995 2021-03-06 15:52:08  1765183798.842295  PYWXj19v809jiw
 996 2021-03-06 15:52:08  1765183798.842295  fPvRKKb5GjSFqg
 997 2021-03-06 15:52:08  1765183798.842295  lBCKg3FlpaHkiA
 998 2021-03-06 15:52:08  1765183798.842295  gb0xPwejt8tySQ
 999 2021-03-06 15:52:08  1765183798.842295  0TvvuWr+WSRTWg

 [1000 rows x 15 columns],
 'film_actor':       actor_id  film_id         last_update       _dlt_load_id         _dlt_id
 0            1        1 2021-03-06 15:52:45  1765183798.842295  IZ7EYGF9qWaZBw
 1            1       23 2021-03-06 15:52:45  1765183798.842295  jAWsG3ZKE1Qkeg
 2            1       25 2021-03-06 15:52:45  1765183798.842295  AnKtw19Js9KYcg
 3            1      106 2021-03-06 15:52:45  1765183798.842295  lB3dU0WLLdJD7A
 4            1      140 2021-03-06 15:52:45  1765183798.842295  bUV/GMzOyCeM3Q
 ...        ...      ...                 ...                ...             ...
 5457       200      879 2021-03-06 15:53:28  1765183798.842295  UbmEVYL70jRs1Q
 5458       200      912 2021-03-06 15:53:28  1765183798.842295  6waQXT2LI8kv9w
 5459       200      945 2021-03-06 15:53:28  1765183798.842295  99PTZt9TIKsY0A
 5460       200      958 2021-03-06 15:53:28  1765183798.842295  tVhPZV/PXINQFQ
 5461       200      993 2021-03-06 15:53:28  1765183798.842295  oloZXw5vfXTsPw

 [5462 rows x 5 columns],
 'film_category':      film_id  category_id         last_update       _dlt_load_id  \
 0          1            6 2021-03-06 15:53:28  1765183798.842295
 1          2           11 2021-03-06 15:53:28  1765183798.842295
 2          3            6 2021-03-06 15:53:28  1765183798.842295
 3          4           11 2021-03-06 15:53:28  1765183798.842295
 4          5            8 2021-03-06 15:53:28  1765183798.842295
 ..       ...          ...                 ...                ...
 995      996            6 2021-03-06 15:53:36  1765183798.842295
 996      997           12 2021-03-06 15:53:36  1765183798.842295
 997      998           11 2021-03-06 15:53:36  1765183798.842295
 998      999            3 2021-03-06 15:53:36  1765183798.842295
 999     1000            5 2021-03-06 15:53:36  1765183798.842295

             _dlt_id
 0    Hwzb+9dz5aDhxg
 1    igC3wagpT6XpRQ
 2    15xksxKEPftoEA
 3    lv9yiTCkCBN7LQ
 4    lBaF4ThlygSkzQ
 ..              ...
 995  //hwhJqH+vk7Hg
 996  HaH7uasOdWM72w
 997  RItLEirpvp0Ihg
 998  Oa75A2D30OByQA
 999  nzrkBt40kgKI+g

 [1000 rows x 5 columns],
 'inventory':       inventory_id  film_id  store_id         last_update       _dlt_load_id  \
 0                1        1         1 2021-03-06 15:52:08  1765183798.842295
 1                2        1         1 2021-03-06 15:52:08  1765183798.842295
 2                3        1         1 2021-03-06 15:52:08  1765183798.842295
 3                4        1         1 2021-03-06 15:52:08  1765183798.842295
 4                5        1         2 2021-03-06 15:52:08  1765183798.842295
 ...            ...      ...       ...                 ...                ...
 4576          4577     1000         1 2021-03-06 15:52:45  1765183798.842295
 4577          4578     1000         2 2021-03-06 15:52:45  1765183798.842295
 4578          4579     1000         2 2021-03-06 15:52:45  1765183798.842295
 4579          4580     1000         2 2021-03-06 15:52:45  1765183798.842295
 4580          4581     1000         2 2021-03-06 15:52:45  1765183798.842295

              _dlt_id
 0     /wyY2IX6jgN2DQ
 1     iBdBfcRBZ2q0mw
 2     vnQDGsQeQis/iw
 3     hGYjhZiXMkIuKg
 4     O0CZONxk0VoY/A
 ...              ...
 4576  LdcmSn6ottY++g
 4577  9VF6vjIcux3JpA
 4578  kCYq6faqiG3qyw
 4579  07wJjVROek61kg
 4580  78YnAwTkYqi9cA

 [4581 rows x 6 columns],
 'language':    language_id      name         last_update       _dlt_load_id  \
 0            1   English 2021-03-06 15:51:48  1765183798.842295
 1            2   Italian 2021-03-06 15:51:48  1765183798.842295
 2            3  Japanese 2021-03-06 15:51:48  1765183798.842295
 3            4  Mandarin 2021-03-06 15:51:48  1765183798.842295
 4            5    French 2021-03-06 15:51:48  1765183798.842295
 5            6    German 2021-03-06 15:51:48  1765183798.842295

           _dlt_id
 0  SNKc863Fg6nP1A
 1  zXRYCKdfTR3BNQ
 2  /YfbjNqPJP/qmw
 3  tT3jckMLrXvqbg
 4  8zMtZ3JTh6P4mg
 5  Fk7uMdADbp7IWQ  ,
 'payment':        payment_id  customer_id  staff_id  rental_id  amount  \
 0               1            1         1         76    2.99
 1               2            1         1        573    0.99
 2               3            1         1       1185    5.99
 3               4            1         2       1422    0.99
 4               5            1         2       1476    9.99
 ...           ...          ...       ...        ...     ...
 16044       16045          599         1      14599    4.99
 16045       16046          599         1      14719    1.99
 16046       16047          599         2      15590    8.99
 16047       16048          599         2      15719    2.99
 16048       16049          599         2      15725    2.99

              payment_date         last_update       _dlt_load_id  \
 0     2005-05-25 11:30:37 2021-03-06 15:55:57  1765183798.842295
 1     2005-05-28 10:35:23 2021-03-06 15:55:57  1765183798.842295
 2     2005-06-15 00:54:12 2021-03-06 15:55:57  1765183798.842295
 3     2005-06-15 18:02:53 2021-03-06 15:55:57  1765183798.842295
 4     2005-06-15 21:08:46 2021-03-06 15:55:57  1765183798.842295
 ...                   ...                 ...                ...
 16044 2005-08-21 17:43:42 2021-03-06 15:58:08  1765183798.842295
 16045 2005-08-21 21:41:57 2021-03-06 15:58:08  1765183798.842295
 16046 2005-08-23 06:09:44 2021-03-06 15:58:09  1765183798.842295
 16047 2005-08-23 11:08:46 2021-03-06 15:58:09  1765183798.842295
 16048 2005-08-23 11:25:00 2021-03-06 15:58:09  1765183798.842295

               _dlt_id
 0      xYsf6fKdlm3BDw
 1      +vwu0QEkE7Yzig
 2      kYYw7uLnttmUww
 3      fXyT/eFhIBoaJw
 4      gNtLuIJ4p0B3eA
 ...               ...
 16044  j9AbQrzu44Iy9A
 16045  kOvZehDeE6YYSw
 16046  FxZxP5FMF/oDcw
 16047  ez+YTX80IQLHbA
 16048  ifBIiqpBlaGYRA

 [16049 rows x 9 columns],
 'rental':        rental_id         rental_date  inventory_id  customer_id  \
 0              1 2005-05-24 22:53:30           367          130
 1              2 2005-05-24 22:54:33          1525          459
 2              3 2005-05-24 23:03:39          1711          408
 3              4 2005-05-24 23:04:41          2452          333
 4              5 2005-05-24 23:05:21          2079          222
 ...          ...                 ...           ...          ...
 16039      16045 2005-08-23 22:25:26           772           14
 16040      16046 2005-08-23 22:26:47          4364           74
 16041      16047 2005-08-23 22:42:48          2088          114
 16042      16048 2005-08-23 22:43:07          2019          103
 16043      16049 2005-08-23 22:50:12          2666          393

               return_date  staff_id         last_update       _dlt_load_id  \

In [7]:
dfs["actor"].head()

,actor_id,first_name,last_name,last_update,_dlt_load_id,_dlt_id
0,1.0,PENELOPE,GUINESS,2021-03-06 15:51:59,1765183798.842295,4JXWSC5/Bzsflw
1,2.0,NICK,WAHLBERG,2021-03-06 15:51:59,1765183798.842295,96xC8ZIVSv0vYA
2,3.0,ED,CHASE,2021-03-06 15:51:59,1765183798.842295,yQRJYq2HZd4U+w
3,4.0,JENNIFER,DAVIS,2021-03-06 15:51:59,1765183798.842295,g5G8aTt6mIxT4A
4,5.0,JOHNNY,LOLLOBRIGIDA,2021-03-06 15:51:59,1765183798.842295,0+TG/Lch/ji9pg

In [8]:
duckdb.sql("DESC;").df()

,database,schema,name,column_names,column_types,temporary
0,temp,main,actor,"[actor_id, first_name, last_name, last_update,...","[DOUBLE, VARCHAR, VARCHAR, TIMESTAMP, VARCHAR,...",True
1,temp,main,address,"[address_id, address, address2, district, city...","[BIGINT, VARCHAR, ""NULL"", VARCHAR, BIGINT, VAR...",True
2,temp,main,category,"[category_id, name, last_update, _dlt_load_id,...","[BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]",True
3,temp,main,city,"[city_id, city, country_id, last_update, _dlt_...","[BIGINT, VARCHAR, BIGINT, TIMESTAMP, VARCHAR, ...",True
4,temp,main,country,"[country_id, country, last_update, _dlt_load_i...","[BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]",True
5,temp,main,customer,"[customer_id, store_id, first_name, last_name,...","[BIGINT, BIGINT, VARCHAR, VARCHAR, VARCHAR, BI...",True
6,temp,main,film,"[film_id, title, description, release_year, la...","[BIGINT, VARCHAR, VARCHAR, VARCHAR, BIGINT, BI...",True
7,temp,main,film_actor,"[actor_id, film_id, last_update, _dlt_load_id,...","[BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]",True
8,temp,main,film_category,"[film_id, category_id, last_update, _dlt_load_...","[BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]",True
9,temp,main,inventory,"[inventory_id, film_id, store_id, last_update,...","[BIGINT, BIGINT, BIGINT, TIMESTAMP, VARCHAR, V...",True
10,temp,main,language,"[language_id, name, last_update, _dlt_load_id,...","[BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]",True
11,temp,main,payment,"[payment_id, customer_id, staff_id, rental_id,...","[BIGINT, BIGINT, BIGINT, BIGINT, DOUBLE, TIMES...",True
12,temp,main,rental,"[rental_id, rental_date, inventory_id, custome...","[BIGINT, TIMESTAMP, BIGINT, BIGINT, TIMESTAMP,...",True
13,temp,main,staff,"[staff_id, first_name, last_name, address_id, ...","[BIGINT, VARCHAR, VARCHAR, BIGINT, ""NULL"", VAR...",True
14,temp,main,store,"[store_id, manager_staff_id, address_id, last_...","[BIGINT, BIGINT, BIGINT, TIMESTAMP, VARCHAR, V...",True